body {
    font-family: "Source Code Pro", monospace;
    font-size: 20px;
    background-color: #272822;
    color: #ffffff;
    line-height: 200%;
    margin: 75px;
}

a {
    color: #66d9ef;
    text-decoration: none;
}

#content {
    margin: 50px;
}

span {
    color: #F92672;
}

h1 {
    font-size: 300%;
    color: #a6e22e;
    text-align: center;
}

li {
    padding: 10px;
    color: #fd971f;
}

.link {
    border-width: 10px;
}

.additional {
    font-size: 60%;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

.selectors {
    color: #fd971f;
    font-size: 75%;
}

.showMoreOrLess,
.addOrRemoveUsername {
    font-size: 75%;
}

#language_selector {
    text-align: right;
    font-size: 75%;
    font-family: "Source Code Pro", monospace;
    color: #fd971f;    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

select {
    font-family: "Source Code Pro", monospace;
    background-color: #272822;
    color: #fd971f;
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}